html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

body{
  margin: 0;
  padding: 0;
  background-color: #E5E5E5;
}

.container{
  max-width: 1350px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* FOOTER */
.footer{
  /* display: none; */
  background-color: #fff;
  padding: 12px 0;
}

.site-footer{
  display: flex;
  justify-content: space-between;
}

.date-time__icon{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 55px;
}

.date-time__icon--row{
  flex-direction: row;
}

.date-time__icon::before{
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("../img/schedule.svg");
  left: -25px;
  background-repeat: no-repeat;
}

.date-time__icon--row .date2{
  margin-left: 10px;
}

.date-time__icon--row .date1{
  margin-left: 10px;
}


.footer__adress{
  margin: 0;
  padding: 0;
  width: 157px;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;  
  color: #333333;
  position: relative;
}

.footer__adress::before{
  content: '';
  position: absolute;
  width: 17px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("../img/house.svg");
  left: -24px;
  top: 3px;
}

.footer__adress--active{
  width: 250px;
}

.footer__icon{
  display: flex;
  flex-direction: column;
  position: relative;
}

.footer__icon--row{
  flex-direction: row;
}

.footer__icon::before{
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("../img/phone.svg");
  left: 19px;
}

.footer__item{
  list-style: none;
}

.nomber-1{
  margin-left: 10px;
}

.nomber-2{
  margin-left: 10px;
  margin-right: 10px;
}

.nomber-3{
  margin-left: 10px;
}

.footer__link{
  text-decoration: none;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

/* OUR SERVICES */

.our-services{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -34px;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

.our-services__item{
  background-color: #fff;
  padding: 58px 22px 45px 29px;
  margin-right: 30px;
  margin-top: 34px;
  width: 283px;
  border-radius: 5px 5px 0px 0px;
  transition: all 0.5s ease;
  background-image: url("../img/bg-blue.svg");
  background-repeat: no-repeat;
  background-position: right top;
}

.our-services__item:hover{
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.2));
}

.our-services__item:nth-child(4n){
  margin-right: 0;
}

.our-services__heading{
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 34px;
  color: #333333;
}

.our-services__item::before{
  content: '';
  display: block;
  background-image: url("../img/bg-blue.svg");
  width: 86px;
  height: 78px;
  margin-bottom: 22px;
}

.our-services__text{
  /* width: 230px; */
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 26px;
  color: #949494;
  margin-top: 14px;
}

.our-services__link{
  font-family:' Futura PT';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  padding: 15px 30px;
  border: 2px solid black;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  margin-top: 26px;
  transition: background-color 0.5s ease, color 0.5s ease,border 0.5s ease;
}

.link__one{
  background-color: #FFBD54;
  color: #fff;
  border: 2px solid #FFBD54;
}

.link__two{
  background-color: #78C0DE;
  color: #fff;
  border: 2px solid #78C0DE;
}

.our-services__link:hover{
  background-color: #000;
  color: #fff;
  border: 2px solid #000;
}

.bg-one::before{
  width: 54px;
  background-image: url('../img/doctor.svg');
}

.bg-two::before{
  width: 63px;
  background-image: url("../img/dog-bg1.svg");
}

.bg-three::before{
  width: 72px;
  background-image: url("../img/dog-bg3.svg");
}

.bg-four::before{
  width: 77px;
  background-image: url("../img/dog-bg4.svg");
}

.bg-five::before{
  width: 78px;
  background-image: url("../img/mikroskop.svg");
}

.bg-six::before{
  width: 76px;
  background-image: url("../img/dog-bg6.svg");
}

.bg-seven::before{
  width: 77px;
  background-image: url("../img/dog-bg7.svg");
}

.bg-eight::before{
  width: 77px;
  background-image: url("../img/injection-bg8.svg");
}

.bg-nine::before{
  width: 88px;
  background-image: url("../img/dog-bg9.svg");
}

.bg-ten::before{
  width: 76px;
  background-image: url("../img/injection-bg10.svg");
}

.bg-11::before{
  width: 79px;
  background-image: url("../img/injection-bg11.svg");
}

.bg-12::before{
  width: 77px;
  background-image: url("../img/plus-injection.svg");
}